{% extends 'layout.twig' %}

{% block title %}Verify Email{% endblock %}

{% block content %}
    <div class="container content-body">
        <div class="alert alert-warning" role="alert">
            Please check your email to verify & activate your account
        </div>
    </div>
{% endblock %}
