* {
    font-family: 'Roboto', sans-serif !important;
}

body {
    background-color: #e7ebee;
}

.text-primary {
    color: #018EFC !important;
}

.nav-link {
    color: #9aa0a9;
}

.nav-link.active {
    background-color: inherit !important;
    color: #57585A !important;
}

.nav-link:hover, .nav-link:focus {
    color: #57585A !important;
}
