Hello,
<br /><br />
You've requested to reset your password. To proceed, please <a href="{{ resetLink }}" target="_blank">click here</a>
<br /><br />
This link will expire in 30 minutes for your security. If you didn't request a password reset, please ignore this email.
