Thank you for signing up to Expennies. Please <a href="{{ activationLink }}" target="_blank">click here</a> to activate your account.
<br />The link is valid until {{ expirationDate|date('m/d/Y g:i A') }}.
